@import 'reset';
@import 'vars';

body {
	margin: auto;
	//font-family: 'Oswald', sans-serif;
	font-family: 'Baloo Tamma', cursive;
	background-color: $surfs-light-blue;
}

.wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  margin-top: 2em;
}

#the-message {
	color: $surfs-light;
  font-size: 2em;
  width: 7em;
	text-align: center;
	min-height: 160px;
  .the-surf {
    color: $surfs-green;
		margin-top: 0;
  }
}

footer {
	a {
		&:hover {
			color: $surfs-green;
		}
	}
	.fa {
		font-size: 2em;
	}
	ul {
		display: flex;
		justify-content: center;
	}
}









@mixin theMessage($someWords) {
	content: $someWords;
}

.surfs-up:before {
  @include theMessage('Surfs Up');
}

.no-surf:before {
  @include theMessage('No Surf Now');
}
