@import 'reset';

body {
	margin: auto;
	font-family: 'Kaushan Script', cursive;
	background-color:#7A8691;
}

.wrapper {
  display: flex;
  flex-flow: wrap column;

}

.surfs-up:before {
  content: 'Surfs Up';
}

.no-surf:before {
  content: 'No surf right now';
}
