@import 'reset';

body {
	margin: auto;
	//font-family: 'Oswald', sans-serif;
	font-family: 'Baloo Tamma', cursive;
	background-color:#7A8691;
}

.wrapper {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  margin-top: 2em;
}

#the-message {
	color: oldlace;
  font-size: 2em;
  width: 7em;
	text-align: center;
	min-height: 160px;
  .the-surf {
    color: darkgreen;
		margin-top: 0;
  }
}









@mixin theMessage($someWords) {
	content: $someWords;
}

.surfs-up:before {
  @include theMessage('Surfs Up');
}

.no-surf:before {
  @include theMessage('No Surf Now');
}
